 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
	vertical-align: baseline;
	border-spacing: 0;
 }

 input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box; /* 2 */
	box-sizing: content-box;
	}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif, fontAwesome;
}

body{
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
	overflow-x: hidden;
	overflow-y: auto;
	color: white;
}
h1 h2 h3 h4{
	color: black;
}
.container{
	background-color: aliceblue;
	position: relative;
	width: 100%;
	color: white;
    overflow-y: scroll;
}
.weldata{
	background-color: #1c2a44;
	padding: 20px;
}

.weldata.active .link{
	display: none;
}

.sidebar{
	background-color: #1c2a44;
	position: fixed;
	height: 100%;
	width: 250px;
	font-size: 20px;

}
.sidebar.active{
	width: 60px;
	transition: all 0.5s ease;
}
.sidebar::before{
	width: 250px;
	transition: all 0.4s ease;
	
}

.sidebar .facox{
	position: absolute;
	pointer-events: auto;
	padding-left: 80px;
	font-size: 16px;
	font-weight: 500;
	top: 13px;
}
.facox{
	cursor: pointer;
}


.sidebar a{
	text-decoration: none;
	color: white;
}
.sidebar ul{
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;



}
.sidebar ul li{
	position: relative;
	width: 100%;
	list-style: none;
}
.sidebar ul li:hover{
	background-color: maroon;
	position: relative;
	width: 100%;
	color: white;
	transition: all 0.1s ease;
}
.sidebar ul li:nthchild(i):hover{
	margin-bottom: 20px; 
}
.sidebar ul li:nthchild(i):hover{
	background:transparent;
}

.sidebar ul li a{
	position: relative;
	display: flex;
	width: 100%;
}


.sidebar .sub-bar .drop{
 -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.sidebar ul li a .facon{
	position: relative;
	display: block;
	height: 50px;
	min-width: 60px;
	color: white;
	line-height: 50px;
	text-align: center;
}
.sidebar ul li a .facox{
	position: relative;
	display: block;
	height: 50px;
	min-width: 60px;
	color: white;
	line-height: 50px;
	text-align: center;
}
.sidebar ul li a {
	color: white;
	font-size: 15px;
}
.sidebar .facon .fa{
	color: white;
	font-size: 15px;
}
.sidebar ul li a .link{
	position: relative;
	display: block;
	height: 50px;
	width: 200px;
	line-height: 50px;
	padding: 0 10px; 
	white-space: nowrap;
	text-align: left;
}

.sidebar .sub-bar {
	position: relative;
	margin-top: -5px;
	background-color: #1f3969;
	color: white;
	font-size: 15px;
	display: none;
	transition: all 200s ease;
	
}
.sidebar .showsub-bar .sub-bar {
	transition: all 200s ease;
	display: block;
	
	
}
.sidebar.active .showsub-bar .sub-bar {
	transition: all 200s ease;
	display: block;
	
	
}
.sidebar .sub-bar li a{
	padding: 10px 0;
	white-space: nowrap;
	opacity: .6;
}
.sidebar .sub-bar .slink a{
	text-align: center;
	margin-left: 70px; 
}

.main{
	position: absolute;
	width: calc(100% - 250px);
	left: 250px;
	color: black;
	height: 100%;
	background-color: aliceblue;
	transition: all 0.3s ease;
	

}
.main.active{
	position: absolute;
	width: calc(100% - 60px);
	left: 60px;
	color: black;
	height: 100%;
	background-color: aliceblue;
	transition: all 0.5s ease;
}
.main .header{
	background-color: aliceblue;
	left: 0px;
	width: 100%;
	height: 50px;
	padding: 0 5px;
	justify-content: space-between;
	align-items: center;
	display: flex;
	box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
}
.toggle{
	position: relative;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.toggle::before{
	content: '\f0a8';
	font-family: fontAwesome;
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 40px;
	text-align: center;
	color: black;
	font-size: 24px;	
}
.toggle.active::before{
	content: '\f0c9';
	font-family: fontAwesome;
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 40px;
	text-align: center;
	color: black;
	font-size: 24px;	
}
.user{
	position: relative;
	min-width: 40px;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	overflow: hidden;
	cursor: pointer;
	text-align: center;
	padding-top: 5px;
	font-size: 18px;
	margin-right: 10px;
	background-color: gray;
}
.user img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;

}
.user .profile{
	position: fixed;
	z-index: 10;
	top: 70px;
	right: 10px;
	color: white;
	pointer-events: auto;
	padding: 10px 20px;
	background-color: #729ec4;
	width: 200px;
	box-sizing: border-box;
	border-radius: 5px;
	display: none;
	transition: 0.1s;

}
.profile li:hover{
	display: block;
	top: 55px;

	cursor: pointer;
}

.user .profile::before{
	content: '';
	position: absolute;
	top: -5px;
	right: 15px;
	width: 20px;
	height:20px;
	background-color: #729ec4;
	transform: rotate(45deg);
	cursor: pointer;
	
}
.user.active .profile{
	display: block;
	top: 55px;
	cursor: pointer;
}


.user .profile h3{
	text-align: center;
	line-height: 1.2em;
	font-weight: 500;
}
.user .profile h4{
	font-size: 14px;
	color: #cecece;
	font-weight: 300;
	text-align: center;
	line-height: 1.2em;
}

.user .profile a{
	text-decoration: none;
	color: white;
	}

.user .profile ul li{
	list-style: none;
	padding: 10px 0;
	display: flex;
	align-items: center;
}
.profile ul li .fa{
	max-width: 20px;
	margin-right: 10px;
	opacity: 0.4;
	transform: 0.5s;

}
.user .profile ul li:hover .fa{
	max-width: 15px;
	margin-right: 15px;
	font-size: 1rem;
	opacity: 0.6;
	transform: 0.5s;

}
.content{
	background-color: #697bbb17;
	position: relative;
	width: 100%;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 10px;
}

.content .data{
	position: relative;
	background-color: gray;
	padding: 20px;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}
.content .data .value{
	position: relative;
	font-size: 20px;
}
.content .data .descp{
	position: relative;
	font-size: 1em;
	font-weight: 200;
}

.content-1{
	background-color: #697bbb17;
	display: flex;
	position: relative;
	flex-direction: column;
	height: 90%;
	width: 100%;
	padding: 20px;
}
.content-1 .sec-header{
	position: relative;
	background-color: #adbad4;
	width: 100%;
	left: 0;
	right: 0;
	padding: 0 5px;
	border-radius: 3px;
	line-height: 40px;
	display: flex;
	justify-content: space-between;
}
.content-1 .sec-header .crumbs{
	line-height: 40px;
}
.content-1 .main-c{
	position: relative;
	background-color: aliceblue;
	width: 100%;
	margin-top: 10px;
	left: 0;
	right: 0;
	padding: 0 5px;
	border-radius: 3px;
	line-height: 40px;

}
table {
	border-collapse: collapse;
}

thead tr {
	border: 1px solid gray;
}
thead td{

}
td {

}
.main .footer{
	background-color: #577996;
	top: 60%;
	left: 0px;
	width: 100%;
	height: 40px;
	padding: 0 5px;

}
@media (min-width: 992px){
	.sidebar.active .link{
		visibility: hidden;
		opacity: 0;
		transition: all 0.5s ease;
	}
	.sidebar.active .sub-bar a{
		width: 100%;
	}

.sidebar{
	overflow-x: hidden;
	overflow-y: auto;
}
.sidebar.active{
	overflow: unset;
}
.sidebar.active li .sub-bar{
	position: absolute;
	left: 100%;
	top: 0;
	padding: 2px;
	width: 130px;
	border-radius: 0 5px 5px 0;
	display: none;
	
}

.sidebar.active li:hover .sub-bar{
	display: block;
	top: 5px;
	pointer-events: auto;
	transition: all 0.3s ease;

}



.sidebar.active .sub-bar ul li {
    position: relative;
    width: 100%;
    padding: 20px;
    list-style: none;
}
.sidebar.active .sub-bar ul li a{

	color: red;
	font-size: 15px;
	margin-left: 0;
	padding-left: -5px;
	white-space: nowrap;
	opacity: .6;
	transition: all 0.3s ease;
}
.sidebar.active .sub-bar a{
	margin-left: 0;
	padding: 15px;
	border-radius: 5px;
}
	.main{
		transition: all 0.5s ease;
	}
	.main.active{
		z-index: -2;
	}

	.sidebar.active .facox{
	display: none;
}
}

@media (max-width: 992px){
	.sidebar{
		left: -100px, -250px;
	}
	.sidebar.active{
		width: 250px;
		left: 0;
		overflow-x: hidden;
	overflow-y: auto;
		
	}
	
	.main{
		width: 100%;
		left: 0;
	}
	.main.active{
		width: calc(100% - 250px);
		left: 250px;
	}
	.toggle::before{
		content: '\f0c9';
		font-family: fontAwesome;
	}
	.toggle.active::before{
		content: '\f0a8';
		font-family: fontAwesome;
	}
	.content{
		grid-template-columns: repeat(2,1fr);
	}
	.sidebar.active .showsub-bar .sub-bar {
		display: block;
		transition: all 0.6s ease;
	}
	

}

@media (max-width: 650px){
	.content{
		grid-template-columns: repeat(1,1fr);
	}
	.sidebar.active{
		visibility: visible;
		overflow-x: hidden;
	overflow-y: auto;
	}
}

@media (max-width: 480px){
	.content{
		grid-template-columns: repeat(1,1fr);
	}
	.sidebar{
		width: 100%;
		left: -100%;
		z-index: 1000;
	}
	.sidebar.active{
		visibility: visible;
		width: 100%;
		left: 0;
	}
	.sidebar.active .showsub-bar .sub-bar {
		display: block;
	}

	.toggle.active{
		position: fixed;
		z-index: 10000;
		right: 0;
		left: initial;
	}
	.toggle.active::before{
		content: "\f0a9";
		color: white;
	}
	.main, .main.active{
		width: 100%;
		left: 0;
	}
}
.logform {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  margin-top: 20px;
}
.card-body {
	color: black;
  display: flex;
  width: 30%;
  margin-top: 40px;
  margin-left: 35%;
  margin-right: 65%;
  background: rgba(255,255,255,0.4);;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  backdrop-filter: blur(6px);
}

.card-body h4 {
	text-align: center;
}

.msgs{
	margin-top: 10px;
}
.input-group {
	margin-top: 10px;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 20px;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: black;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}